body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #1e1e1e;
}

#gameOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

button {
    background-color: #4646b2;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6363db;
}
