/* Body styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
    overflow: hidden;
    background-image: url('https://i.postimg.cc/gJGn8KRZ/backgroudn-of-game.jpg');
    background-size: cover;
}

/* Canvas styles */
canvas {
    border: 2px solid #ffffff;
}

/* Game Over screen */
#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 24px;
}

.hidden {
    display: none;
}

/* Restart button */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
